@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-size: 18px;
  line-height: 1.8rem;
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: 400;
  background-color: white;
}

.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background: #50bba4;
  /* background: radial-gradient(circle, #50bba4 0%, #4aad98 100%); */
  z-index: 10;
  transition: all 0.4s ease-out;
  display: flex;
  justify-content: center;
}

.nav-menu.active {
  transform: translateX(0);
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
