@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

body {
  font-size: 18px;
  line-height: 1.8rem;
  font-family: "Nunito", sans-serif;
  color: black;
  font-weight: 400;
  background-color: white;
}

main {
  margin-left: 300px;
}

.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background: #50bba4;
  /* background: radial-gradient(circle, #50bba4 0%, #4aad98 100%); */
  z-index: 10;
  transition: all 0.4s ease-out;
  display: flex;
  justify-content: center;
}

.nav-menu.active {
  transform: translateX(0);
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.header-menu {
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 0;
  text-align: center;
}

.header-menu li {
  list-style: none;
  text-align: center;
  display: block;
}

.header-menu a {
  text-transform: uppercase;
  font-size: 0.94rem;
  letter-spacing: 1px;
  display: block;
  padding: 5px 0;
  transition: all 0.4s ease-in;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.header-copyright {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
  padding: 15px 0;
  border-top: 1px solid #45a08c;
}

.header-toggler {
  position: absolute;
  left: 100%;
  top: 20px;
  padding: 0;
  height: 50px;
  width: 50px;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  text-align: center;
  font-size: 2rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.header-toggler.btn-left {
  left: 80%;
  background: transparent;
}

.navActive {
  background-color: #ffb300;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}

.header-image {
  padding: 20px 0 20px;
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #45a08c;
}

.image-link {
  height: 150px;
  width: 150px;
  border-radius: 1000px;
  border: 2px solid #45a08c;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

/* Login-Form */
.login-page {
  margin-top: 22em;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-indent: 22px;
  border-radius: 5px;
}

.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #50bba4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.form h1 {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  color: #2a2b38;
  border-bottom: 2px solid black;
}

.form button:hover {
  background: #45a08c;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 900;
}

.form .message a {
  color: #50bba4;
  text-decoration: none;
}

.fontuser {
  position: relative;
}

.fontuser i {
  position: absolute;
  left: 15px;
  top: 15px;
  color: gray;
}

.fontpassword {
  position: relative;
}

.fontpassword i {
  position: absolute;
  left: 15px;
  top: 15px;
  color: gray;
}
